body {
  background-image: url(../../graphics/bg.jpg);
  background-color: #4c361e;
  font-family: sans-serif;
  color: #fff;
}

td {
  font-family: sans-serif;
  font-size: 16px;
}

h2 {
  color: #cccc99;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  width: 750px;
}

h3 {
  color: black;
  font-family: sans-serif;
}

h3.light {
  color: white;
}

h4 {
  color: black;
  font-family: sans-serif;
  font-variant: small-caps;
}

a:link,
a:visited {
  color: yellow;
  font-weight: bold;
}

a:active {
  color: red;
}

a:hover {
  color: yellow;
}

hr {
  color: #cccc99;
  height: 1px;
  width: 750px;
}

li {
  font-family: sans-serif;
  font-size: 16px;
}

p {
  font-family: sans-serif;
  font-size: 16px;
}

ul {
  font-family: sans-serif;
  font-size: 16px;
}

dt {
  color: #cccc99;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
}

dd {
  font-family: sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}

#emaillogin {
  font-family: sans-serif;
  font-size: 14px;
}

input {
  font-family: sans-serif;
}
