<table align=center width="{$tableParam[0]}" border={$tableParam[5]} cellspacing={$tableParam[7]} cellpadding={$tableParam[6]}>
<tr>
<td class=cell1>

<form action="{$bb_admin}" method=post>
<input type=hidden name=action value=removeuser2>
<p>{$l_removeUser}: <input type=text size=5 maxlength=11 name=mini_userID class=textForm value="{$mini_userID}"> ({$l_enterID})
<br>
<input type=checkbox name=removemessages> {$l_removeUserMessages}
<br>
<p><b>{$l_noAsking}</b>
<input type=submit value="{$l_removeUser}" class=inputButton>
</form>

</td></tr></table>
