<center>
<table width="{$tableParam[0]}" border=0 cellspacing={$tableParam[7]} cellpadding={$tableParam[6]}>
<tr><td>
{$l_adminpanel_link}
<small>{$l_loadingtime} {$totaltime}<br>

<!--Copyright link. Having only free GPL licence, you can not remove it!-->
Powered by <a href="http://www.miniBB.net" target="_blank">miniBB {$version}</a> and <a href="http://www.mamboserver.com" target="_blank">Mambo OpenSource</a> &copy; 2001-2003</small>
<!--End of copyright link-->

</td></tr></table></center>

</body>
</html>
