<tr class="{$bg}">
<td width="5%" valign=middle><center><img src="{$live_site}/components/minibb/img/forum_icons/{$forumIcon}" width=16 height=16 border=0></center></td>
<td width="50%"><p><a href="{$indexphp}action=vthread&amp;forum={$forum}&amp;topic={$topic}">{$topic_title}</a>&nbsp;<sup class=navCell>{$pageNavCell}</sup></td>
<td width="10%" align=center><p>{$numReplies}</td>
<td width="10%" align=center><p>{$numViews}</td>
<td width="15%" align=center><p>{$lastPoster}</td>
<td width="10%" align=center><p><small>{$whenPosted}</small></td>
</tr>
