<center>
<!--<table bgcolor="{$tableParam[1]}" width="{$tableParam[0]}" border={$tableParam[5]} cellspacing={$tableParam[7]} cellpadding={$tableParam[6]}>
<tr class=sectiontableentry2>
<td><a href="{$indexphp}"><img src="{$live_site}/components/minibb/img/logo.gif" width=150 height=54 border=0 alt="evolution of bulletin boards"></a></td>
</tr>
</table>-->
<br>
<table bgcolor="{$tableParam[1]}" width="{$tableParam[0]}" border={$tableParam[5]} cellspacing={$tableParam[7]} cellpadding={$tableParam[6]}>
<tr>
<td class=sectiontableentry2 valign=top>
<table width="100%" border=0 cellpadding=0 cellspacing=0>
<tr>
<td width="100%"><small><b>&nbsp;{$l_menu[0]}{$l_menu[7]}{$l_menu[3]}{$l_menu[1]}{$l_menu[5]}{$l_menu[6]}{$l_sepr}</b><small></td>
</tr>
</table>
</td>
</tr>
</table>
</center>
<br>
