<tr class="{$bg}">
<td align=center width=18><img src="{$live_site}/components/minibb/img/topic_{$tpcIcon}.gif" width=16 height=16></td>
<td width="50%"><p><a href="{$indexphp}action=vthread&amp;forum={$forum}&amp;topic={$topic}">{$topicTitle}</a>&nbsp;<sup class="navCell">{$pageNavCell}</sup></td>
<td align=center width="10%"><p>{$numReplies}</td>
<td align=center width="10%"><p>{$numViews}</td>
<td align=center width="15%"><p>{$lastAuthor}</td>
<td align=center width="15%"><p><small>{$whenPosted}</small></td>
</tr>
