<center>
<table bgcolor="{$tableParam[1]}" width="{$tableParam[0]}" border={$tableParam[5]} cellspacing={$tableParam[7]} cellpadding={$tableParam[6]}>
<tr class=sectiontableentry2>
<td>
<table width="100%" border=0 cellpadding=0 cellspacing=0>
<tr>
<td width="100%"><div class=header>&nbsp;<a href="{$indexphp}"><b>{$sitename}</b></a> <b class=bulletHead>&#8212;&#8250;</b> <small>{$mini_userInfo}</small></div></td>
</tr>
</table>
</td>
</tr>
</table>
<br>

<table class=sectiontableentry2 width={$tableParam[0]} border={$tableParam[5]} cellspacing={$tableParam[7]} cellpadding={$tableParam[6]}>

{$mini_userINFO}

</table>

<br>