<center>
<table bgcolor="{$tableParam[1]}" border={$tableParam[5]} width="{$tableParam[0]}" cellspacing={$tableParam[7]} cellpadding={$tableParam[6]}>
<tr>
<td class=sectiontableentry2 width="{$tableParam[0]}">{$mini_user_logging}</td>
</tr>
</table>
<br>

<table bgcolor="{$tableParam[1]}" width="{$tableParam[0]}" border={$tableParam[5]} cellspacing={$tableParam[7]} cellpadding={$tableParam[6]}>
<tr class=sectiontableheader>
<td width="5%">&nbsp;</td>
<td width="75%"><small><b>{$l_forum}</b></small></td>
<td align=center width="10%"><small><b>{$l_num_topics}</b></small></td>
<td align=center width="10%"><small><b>{$l_num_posts}</b></small></td>
</tr>
{$list_forums}
</table>
</center>
<br>
