<center>
<table bgcolor="{$tableParam[1]}" width="{$tableParam[0]}" border={$tableParam[5]} cellspacing={$tableParam[7]} cellpadding={$tableParam[6]}>
<tr class=sectiontableentry2>
<td>
<table width="100%" border=0 cellpadding=0 cellspacing=0>
<tr>
<td width="100%"><div class=header><a href="{$indexphp}">{$sitename}</a> :: {$l_userIP}</div></td>
</tr>
</table>
</td>
</tr>
</table>

<br>

<table bgcolor="{$tableParam[1]}" width="{$tableParam[0]}" border={$tableParam[5]} cellspacing={$tableParam[7]} cellpadding={$tableParam[6]}>
<tr class=sectiontableheader>
<td align=left>
<h3>{$l_usersIPs}:</h3>

{$listUsers}

</td></tr></table>

</center>