* {
	font-size: 10pt;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
}

a   {
	color: #000000;
	font-weight: bold;
	font-size: 10pt;
	border-color: #7cfc00 #006400 #006400 #7cfc00;
}

body       {
	background-color: #006400;
	margin: 0px;
}

button  {
	color: #000000;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: underline;
	background-color: #976c00;
	text-indent: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #ffb700 #4f3900 #4f3900 #ffb700;
	width: 110px;
	cursor: hand;
}

h1 {
	font-weight: bold;
	font-size: 14pt;
}

.mfcclass00 {
	font-weight: bold;
	font-size: 8pt;
	border: solid 1px #000000;
	background-color: transparent;
}

.mfcclass01 {
	font-weight: normal;
	background-color: transparent;
	border-style: solid;
	border-width: 0px;
	border-color: transparent;
}

.mfcclass02 {
	font-weight: bold;
	font-size: 8pt;
	background-color: #FEFAEF;
	border: solid 1px darkgreen;
}

.mfcclass03 {
	font-family: arial, helvetica, sans-serif;
	font-size: 20px;
	color: black;
	border: solid 0px darkgreen;
	background-color: transparent;
}

.mfcclass04 {
	color: red;
}

.mfcclass05 {
	border: solid 1px #696969;
}

.mfcclass06  {
	font-weight: bold;
	font-size: 8pt;
	background-color: #FEFAEF;
	border: solid 1px darkgreen;
}
.mfcclass07 {
	font-weight: bold;
	font-size: 8pt;
	background-color: transparent;
	text-indent: 0px;
	border-style: outset;
	border-width: 0px;
	border-color: transparent;
}

.mfcclass08 {
	background-color: #000000;
	border: #2f4f4f;
	overflow: hidden;
}

.mfcclass09  {
	color: #3a3400;
	font-style: italic;
	font-weight: bold;
	font-size: 24pt;
	position: absolute;
	z-index: 1;
	top: 15px;
	left: 40px;
}

.mfcclass10  {
	color: #daa520;
	font-style: italic;
	font-weight: bold;
	font-size: 24pt;
	position: absolute;
	z-index: 2;
	top: 5px;
	left: 20px;
}

.mfcclass11 {
	color: #daa520;
	font-style: oblique;
	font-weight: bold;
	font-size: 8pt;
	text-indent: 8pt;
	border: #000000;
}

.mfcclass12 {
	font-weight: bold;
	background: #5e5300 url(../admin/images/background.gif);
	border: #000000;
}

.mfcclass13   {
	color: #daa520;
	font-style: italic;
	font-weight: bold;
	font-size: 24pt;
	vertical-align: top;
	position: relative;
	z-index: 2;
	top: 10pt;
	left: 10px;
	clip: auto;
}

.mfcclass14   {
	color: #64542e;
	font-style: italic;
	font-weight: bold;
	font-size: 24pt;
	vertical-align: top;
	position: relative;
	z-index: 1;
	left: 50px;
}

.mfcclass15 {
	font-weight: bold;
	background: #000000 url(../admin/images/1.gif) no-repeat 50% 50%;
	border-style: none none none solid;
	border-width: medium medium medium 1px;
	border-color: #000000 #000000 #000000 #4d4d4d;
}

.mfcclass16 {
	font-weight: bold;
	background: #000000 url(../admin/images/2.gif) no-repeat 50% 50%;
	border-style: none none none solid;
	border-width: medium medium medium 1px;
	border-color: #000000 #000000 #000000 #4d4d4d;
}

.mfcclass17 {
	font-weight: bold;
	background: #000000 url(../admin/images/3.gif) no-repeat 50% 50%;
	border-style: none none none solid;
	border-width: medium medium medium 1px;
	border-color: #000000 #000000 #000000 #4d4d4d;
}

.mfcclass18  {
	color: #daa520;
	font-style: oblique;
	font-weight: bold;
	font-size: 12pt;
	vertical-align: top;
}

.mfcclass19  {
	color: #daa520;
	font-style: oblique;
	font-weight: bold;
	font-size: 10px;
	vertical-align: top;
}

.mfcclass20 {
	color: #daa520;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	border-color: #7cfc00 #006400 #006400 #7cfc00;
}